#menu {
  height: 800px;
  width: 100%;
  display: flex;
  flex-direction: row;
}

.menu__img {
  height: 100%;
  width: 50%;
  background-color: var(--color-brown);
}

.menu__img img {
  width: 100%;
  height: 100%;
}

.menu__content {
  height: 100%;
  width: 50%;
  display: flex;
  align-items: center;
  padding: 4rem;
}

.popup-content {
  height: 38rem;
  width: 450px;
}

.popup-content img {
  height: 100%;
  width: 100%;
}

@media screen and (max-width: 2000px) {
  .app__chef-sign img {
    width: 370px;
  }
}

@media screen and (max-width: 450px) {
  #menu {
    height: 100%;
    flex-direction: column;
  }

  .menu__content {
    width: 100%;
    padding: 2rem;
    background-color: var(--color-brown);
  }

  .menu__wrapper .aos-init .p__cormorant-alternative {
    color: var(--color-white) !important;
  }

  .menu__img {
    width: 100%;
  }
}