.app__header-h1 {
  width: 50%;
  text-transform: uppercase;
  font-family: var(--font-base);
  color: var(--color-white);
  letter-spacing: 0.04em;
  line-height: 117px;
  font-size: 82px;
  margin-bottom: 2rem;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: 100%;
  min-height: 800px;
  padding: 12rem 6rem;
  background-color: var(--color-black);
}

@media screen and (max-width: 450px) {
  .app__header-h1 {
    width: 100%;
    line-height: 55px;
    font-size: 45px;
  }

  .swiper-slide {
    padding: 15rem 3rem;
    min-height: 600px;

  }
}

.app__navbar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: absolute;
  z-index: 5;
}

.app__navbar-logo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.app__navbar-logo img {
  width: 18rem;
}

.app__navbar-links {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: end;
  list-style: none;
}

.app__navbar-links li {
  margin: 0 2rem;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 700;
}

.app__navbar-links li:hover {
  color: var(--color-grey);
}

.app__navbar-login {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.app__navbar-login a {
  margin: 0 1rem;
  text-decoration: none;
  transition: 0.5s ease;
}

.app__navbar-login a:hover {
  border-bottom: 1px solid var(--color-golden);
}

.app__navbar-login div {
  height: 30px;
  width: 1px;
  background-color: var(--color-grey);
}

.app__navbar-smallscreen {
  display: none;
}

.app__navbar-smallscreen_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-brown);
  transition: 0.5s ease;
  flex-direction: column;
  z-index: 5;
}

.app__navbar-smallscreen_overlay .overlay__close {
  font-size: 27px;
  color: var(--color-golden);
  cursor: pointer;

  position: absolute;
  top: 20px;
  right: 20px;
}

.app__navbar-smallscreen_links {
  list-style: none;
}

.app__navbar-smallscreen_links li {
  margin: 2rem;
  cursor: pointer;
  color: var(--color-golden);
  font-size: 2rem;
  text-align: center;
  font-family: var(--font-base);
}

.app__navbar-smallscreen_links li:hover {
  color: var(--color-white);
}

@media screen and (max-width: 1150px) {
  .app__navbar-links {
    display: none;
  }

  .app__navbar-smallscreen {
    display: flex;
  }
}

@media screen and (max-width: 650px) {
  .app__navbar {
    padding: 1rem;
    flex-direction: column;
  }

  .app__navbar-login {
    display: none;
  }

  .app__navbar-logo img {
    width: 280px;
  }
}
